html, body {
    min-height: 100%;
}

body {
    display: flex;
    justify-content: center;
    margin: 50px;
    background: rgb(100, 100, 100);
}

canvas {
    border: 1px solid #ccc;
    /* height: 176px; */
    /* width: 320px; */
    height: 356px;
    width: 640px;
}

img {
    display: none;
}
